:root
{
    --Color1: #ff0000;
    --Color2: #9fb8c66b;
    --BackgroundColor: #f0f0f0;
    --TextColor: #333;
}

body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--BackgroundColor);
    color: var(--TextColor);
    margin-bottom: 20px;
    font-size: larger;
}

h1s
{
    color: var(--TextColor);
    text-align: left;
    text-decoration: underline;
}
h3
{
    color: var(--TextColor);
    text-align: left;
}
h2
{
    color: var(--TextColor);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.form-container
{
    align-items: center;
    display: block;
    margin: auto;
    justify-items: center;
}

.form-group{
  display: grid;
  grid-template-columns: 200px 200px;
  align-items: center;
  gap: 200px;
  margin-bottom: 12px;
}

.form-group label{
    width: 200px;
    font-weight: bold;
}
.membership
{
  width: 200px;
  font-weight: 600;
}

.form-group input
{
    padding: 8px;
    width: 200px;;
}

button
{
    text-align: center;
    background-color: var(--Color1);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
}
.from-aiub
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top:100px;
}
img
{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;


}